<artifact type="application/vnd.ant.code" language="cshtml">
    <h1>Database Connection Test</h1>
    @if (ViewBag.Success)
    {
        <div style="color: green; font-weight: bold;">
            @ViewBag.Message
        </div>
    }
    else
    {
        <div style="color: red; font-weight: bold;">
            @ViewBag.Message
        </div>
    }
</artifact>