@{
    ViewData["Title"] = "Comment Details";
}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card bg-dark text-white shadow">
                <div class="card-body p-4">
                    <h3 class="h5 mb-3">Comment Details</h3>
                    <p><strong>Comment ID:</strong> #54321</p>
                    <p><strong>Status:</strong> Hidden</p>
                    <p><strong>Comment:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione deserunt corporis, vero repudiandae praesentium alias vel earum animi consectetur vitae rem placeat nesciunt recusandae! Libero nemo in quos modi eveniet.</p>
                    <div class="d-flex gap-2">
                        <button class="btn btn-secondary">Unhide Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
