@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5 text-center d-flex flex-column gap-4">
    <header class="d-flex align-items-start justify-content-start gap-4">
        <img src="/images/building-construction-site_1024x1024.webp" alt="" id="homepimg"
            class="rounded img-fluid shadow-lg" style="max-width: 500px;">
        <p class="fs-1 fw-bold text-start m-0 w-50">Rent the Right Equipment, Get the Job Done Right!</p>
    </header>

    <div class="d-flex align-items-center gap-4">
        <p class="fs-4 fw-bold text-start w-25">Discover Our Equipment and Services</p>
        <div class="overflow-hidden w-100 position-relative">
            <div class="d-flex gap-3 position-relative flex-nowrap animate-scroll">
                <img src="/images/equipment_maintenance.jpg" alt="Equipment Maintenance"
                    class="rounded img-fluid shadow img-size">
                <img src="/images/Semi Trailers Bars.JPG" alt="Semi Trailers" class="rounded img-fluid shadow img-size">
                <img src="/images/Skid Steer Loader .jpg" alt="Skid Steer Loader"
                    class="rounded img-fluid shadow img-size">
                <img src="/images/Telescopic Handler .jpg" alt="Telescopic Handler"
                    class="rounded img-fluid shadow img-size">
                <img src="/images/VibratoryDrum.png" alt="Vibratory Drum" class="rounded img-fluid shadow img-size">

                <img src="/images/equipment_maintenance.jpg" alt="Equipment Maintenance"
                    class="rounded img-fluid shadow img-size">
                <img src="/images/Semi Trailers Bars.JPG" alt="Semi Trailers" class="rounded img-fluid shadow img-size">
                <img src="/images/Skid Steer Loader .jpg" alt="Skid Steer Loader"
                    class="rounded img-fluid shadow img-size">
                <img src="/images/Telescopic Handler .jpg" alt="Telescopic Handler"
                    class="rounded img-fluid shadow img-size">
                <img src="/images/VibratoryDrum.png" alt="Vibratory Drum" class="rounded img-fluid shadow img-size">
                
            </div>
        </div>
    </div>

    <footer class="footer text-muted text-center py-3">
        <div class="container">
            <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Feedback">
                Write a Feedback!
            </a>
            @* jjust not now , will put it on its right palce later *@
               <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Payment">
                link the Payment page
            </a>
        </div>
    </footer>
</div>