@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header class="home-header">
        <img src="/images/building-construction-site_1024x1024.webp" alt="" id="homepimg">
        <p>Rent the Right Equipment, Get the Job Done Right!</p>
    </header>

<body>
    <div class="content-container">
        <p class="equipment-text">Discover Our Equipment and Services</p>
        <div class="image-slider">
            <div class="image-track">
                <img src="/images/equipment_maintenance.jpg" alt="Equipment Maintenance">
                <img src="/images/Semi Trailers Bars.JPG" alt="Semi Trailers">
                <img src="/images/Skid Steer Loader .jpg" alt="Skid Steer Loader">
                <img src="/images/Telescopic Handler .jpg" alt="Telescopic Handler">
                <img src="/images/VibratoryDrum.png" alt="Vibratory Drum">
            </div>
        </div>
    </div>
</body>


</div>
