*,
*::before,
*::after {
  box-sizing: border-box;
}

.custom-btn {
  background-color: #1f2a55;
  border: none;
  padding: 14px 15px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.custom-btn:hover {
  background-color: #2a3565;
}

.custom-bg {
  background-color: #1a1a1a;
}

.dcustom-bg {
  background-color: #1f1f1f;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.custom-link a {
  color: #4A90E2;
  text-decoration: none;
}

.custom-link a:hover {
  text-decoration: underline;
}

html {
  font-size: 14px;
}

#homepimg:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 20px;
}

.notification-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 20px;
}


.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-icon-link {
  padding: 0;
}


@keyframes scrollRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  flex-grow: 1;
}